<% include partials/_header_logged_in %>

  <main>

    <div class="audio-form">

      <div>
        <label for="title">Title:</label>
        <input class="title-input" type="text" name="title" />
      </div>

      <div>
        <label for="file">Audio File</label>
        <input class="audio-file-input" type="file" name="file">
      </div>

      <div>
        <label for="order">Order</label>
        <input class="order-input" type="number" name="order">
      </div>

      <button class="submit-button" type="submit" name="button">Submit</button>

    </div>

    <div class="audio-files">

      <% audioFiles.forEach((audio) => { %>
        <div class="audio-file" id="<%= audio.id %>">
          <input class="audio-title input-edit" name="title" value="<%= audio.title %>" />
          <input class="audio-file-edit" type="file" />
          <input class="audio-order-edit input-edit" name="order" type="number" value="<%= audio.order %>" />
          <audio src="<%= audio.url %>" controls></audio>
          <button class="audio-delete">DELETE</button>
        </div>
        <% }) %>

    </div>

  </main>

  <script src="/scripts/admin_audio.js" type="text/javascript"></script>

  <% include partials/_footer %>