<% include partials/_header_logged_in %>

  <main>

    <div>

      <div>
        <label for="title">Title:</label>
        <input class="title-input" type="text" name="title" />
      </div>

      <div>
        <label for="file">Audio File</label>
        <input class="audio-file-input" type="file" name="file">
      </div>

      <button class="submit-button" type="submit" name="button">Submit</button>

    </div>

    <% audioFiles.forEach((audio) => { %>
      <div>
        <h1>
          <%= audio.title %>
        </h1>
        <audio src="<%= audio.url %>" controls></audio>
      </div>
      <% }) %>

  </main>

  <script src="/scripts/admin_audio.js" type="text/javascript"></script>


  <% include partials/_footer %>