<% include partials/_header_logged_in %>

  <main>

    <form action="/admin/audio" method="post">

      <div>
        <label for="title">Title:</label>
        <input type="text" name="title" />
      </div>

      <div>
        <label for="url">URL:</label>
        <input type="text" name="url" />
      </div>

      <button type="submit" name="button">Add Audio File</button>

    </form>

  </main>

  <% include partials/_footer %>