<% include partials/_header %>

<form class="" action="index.html" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" />
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </div>

  <div>
    <button type="button" name="button">Sign In</button>
  </div>
</form>

<% include partials/_footer %>
