<% include partials/_header_logged_in %>

<main>

  <h1>The Gallery Route</h1>

  <form action="/admin/photo" method="post">

    <div>
      <label for="title">Title</label>
      <input class="title" type="text" name="Title" />
    </div>

    <div>
      <label for="file">File</label>
      <input class="image-uploader" type="file" name="file" />
    </div>

    <div class="image-upload-handler">

    </div>

    <button type="submit" name="button">Submit</button>

  </form>

  <img src="" alt="" class="img-preview" />

  <h1>Your Photos</h1>

  <% photos.forEach((photo, index) => { %>
    <div>
      <h2><%= photo.title %></h2>
      <img src="<%= photo.url %>" alt="<%= photo.title %>" />
    </div>
  <% }) %>

</main>

<script type="text/javascript">

  const fileInput = document.querySelector('.image-uploader')
  const titleInput = document.querySelector('.title')
  const imgPreview = document.querySelector('.img-preview')
  const submitBtn = document.querySelector('button')

  fileInput.addEventListener('change', () => {
    console.log('FILE CHANGING')
    const fileReader = new FileReader()
    fileReader.addEventListener('load', () => {
      console.log('FILE LOADED', fileReader.result)
      imgPreview.src = fileReader.result;
    })
    fileReader.readAsDataURL(fileInput.files[0])
  })

  function submit(e) {
    e.preventDefault()
    console.log('FORM ABOUT TO SUBMIT FOR REAL', fileInput.files[0])
    const fileReader = new FileReader()
    fileReader.readAsDataURL(fileInput.files[0])
    fileReader.addEventListener('load', () => {
      const image = fileReader.result;
      const title = titleInput.value;
      fetch('/admin/photo', {
        credentials: 'include',
        headers: {
          'Content-Type': 'application/json'
        },
        method: 'POST',
        body: JSON.stringify({
          title,
          image
        })
      }).then((response) => {
        console.log('RESPONSE', response)
      }).catch((err) => {
        console.error('ERROR POSTING IMAGE', err);
      })
    })
  }

  submitBtn.addEventListener('click', (e) => {
    submit(e)
  })

</script>

<% include partials/_footer %>
