<% include partials/_header %>

<form action="/admin/register" method="post">

  <div>
    <label for="username">Username</label>
    <input type="text" name="username" />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>

  <button type="submit" name="button">Sign Up</button>

</form>

<% include partials/_footer %>
