/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html {
  font-size: 8px; }

body {
  line-height: 1;
  font-family: sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: "Cinzel Decorative", cursive; }

.page {
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box; }

.container {
  max-width: 900px;
  margin: 0 auto; }

.mobile-nav {
  position: relative;
  z-index: 100; }
  .mobile-nav ul {
    position: fixed;
    transition: 300ms;
    transition-timing-function: ease-in;
    left: 0;
    box-sizing: border-box;
    right: 0;
    bottom: 100vh;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    padding: 120px 10% 10%;
    align-items: stretch; }
    .mobile-nav ul li {
      cursor: pointer;
      flex-grow: 1;
      display: flex;
      color: #e2e2e2;
      align-items: center;
      max-height: 250px;
      border-top: 1px solid #e2e2e2;
      padding: 10px;
      font-size: 3rem;
      font-weight: 200; }

iframe {
  width: 300px;
  height: 200px; }
  @media (min-width: 800px) {
    iframe {
      width: 600px;
      height: 400px; } }
  @media (min-width: 1100px) {
    iframe {
      width: 800px;
      height: 600px; } }

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal .fa-times {
    color: #e2e2e2;
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 4.0rem; }
  .modal .modal-body {
    padding: 10px;
    background-color: #e2e2e2; }

*[role="button"] {
  cursor: pointer; }

.about {
  background-color: #e2e2e2;
  display: flex;
  position: relative; }
  .about .description {
    flex-grow: 1;
    padding-left: 15%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about .description h1 {
      color: #f91d57;
      border-bottom: 8px solid rgba(249, 29, 87, 0.5);
      display: inline-block;
      font-size: 6.5rem;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 0 3.5rem; }
    .about .description h2 {
      color: #111111;
      font-size: 2.5em;
      font-weight: 700;
      line-height: 1.5em; }
    .about .description p {
      font-size: 2.2rem;
      line-height: 2em;
      letter-spacing: 1px;
      margin: 4rem 0 0; }
  .about .photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  @media (max-width: 1000px) {
    .about .photo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("./images/JA_About-Me-Section.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.2; }
      .about .photo img {
        display: none; } }

* {
  font-size: 2rem; }

.submit-button {
  background-color: #010e5d;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: 300ms;
  outline: none; }
  .submit-button:hover {
    background-color: #5182de; }
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed; }

.loader {
  border: 3px solid #f3f3f3;
  /* Light grey */
  border-top: 3px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  animation: spin 2s linear infinite;
  display: inline-block; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.delete-button {
  background-color: #FC0D1C;
  color: #ffffff;
  border: none;
  font-size: 2.0rem;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms; }
  .delete-button:hover {
    background-color: #7D0308; }

.main-admin-container section.side-nav {
  background-color: #010e5d;
  color: #e2e2e2;
  position: absolute;
  width: 200px;
  min-height: 100vh;
  padding-top: 30px; }
  .main-admin-container section.side-nav li {
    padding: 10px; }
    .main-admin-container section.side-nav li.active a {
      color: #3ce391; }
  .main-admin-container section.side-nav a {
    color: #e2e2e2;
    text-decoration: none;
    font-size: 2rem;
    transition: 500ms; }
    .main-admin-container section.side-nav a:visited {
      color: #e2e2e2; }
  .main-admin-container section.side-nav a:hover {
    color: #3ce391; }

.main-admin-container main {
  margin-left: 200px;
  padding: 30px; }
  .main-admin-container main .form-wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid #010e5d;
    border-radius: 10px;
    max-width: 600px;
    padding: 50px; }
    .main-admin-container main .form-wrapper button {
      background-color: #010e5d;
      color: #fff;
      padding: 10px 10px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      margin: 20px auto;
      width: 100%;
      max-width: 300px;
      cursor: pointer;
      transition: 300ms;
      outline: none; }
      .main-admin-container main .form-wrapper button:hover {
        background-color: #5182de; }
      .main-admin-container main .form-wrapper button:disabled {
        background-color: #ccc;
        cursor: not-allowed; }
    .main-admin-container main .form-wrapper .image-upload-handler {
      width: 200px;
      height: 200px;
      background-color: #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #999;
      box-shadow: 2px 2px 10px #ddd;
      transition: 300ms;
      cursor: pointer; }
      .main-admin-container main .form-wrapper .image-upload-handler:hover {
        transform: scale(1.03);
        background-color: #eee; }
      .main-admin-container main .form-wrapper .image-upload-handler i {
        font-size: 80px;
        padding: 30px;
        color: green; }
  .main-admin-container main .img-preview {
    max-width: 200px; }

.main-admin-container input, .main-admin-container textarea {
  margin: 5px 0 20px;
  padding: 5px;
  border: 1px solid #010e5d;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  transition: 300ms;
  outline: none;
  resize: none;
  width: 300px; }
  .main-admin-container input:focus, .main-admin-container textarea:focus {
    border-color: #5182de; }

.main-admin-container .photos-page .photo-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .main-admin-container .photos-page .photo-gallery .photo {
    max-width: 200px;
    box-shadow: 2px 2px 5px #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2e2e2; }
  .main-admin-container .photos-page .photo-gallery .photo img, .main-admin-container .photos-page .photo-gallery .photo .image {
    height: 100px;
    background-size: cover;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer; }
  .main-admin-container .photos-page .photo-gallery .photo .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    opacity: 0;
    transition: 500ms; }
    .main-admin-container .photos-page .photo-gallery .photo .overlay:hover {
      opacity: 1; }
  .main-admin-container .photos-page .photo-gallery .photo h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500; }
  .main-admin-container .photos-page .photo-gallery .photo-delete {
    background-color: #FC0D1C;
    color: #ffffff;
    border: none;
    font-size: 2.0rem;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 250ms; }
    .main-admin-container .photos-page .photo-gallery .photo-delete:hover {
      background-color: #7D0308; }
  .main-admin-container .photos-page .photo-gallery input, .main-admin-container .photos-page .photo-gallery textarea {
    border: none;
    background-color: inherit;
    width: 100%; }

.audio-files {
  display: flex;
  flex-wrap: wrap; }
  .audio-files > div {
    width: 40%;
    flex-grow: 1;
    margin: 20px;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px; }
  .audio-files .audio-title {
    font-size: 2rem; }
  .audio-files .audio-delete {
    background-color: #FC0D1C;
    color: #ffffff;
    border: none;
    font-size: 2.0rem;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 250ms; }
    .audio-files .audio-delete:hover {
      background-color: #7D0308; }

.login {
  padding: 50px;
  font-size: 16px; }
  .login form {
    margin: 0 auto;
    max-width: 300px;
    text-align: center; }
  .login label, .login input {
    width: 100%;
    text-align: left;
    font-size: 20px; }
  .login label {
    display: block; }
  .login button {
    background-color: #010e5d;
    color: #e2e2e2;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: 300ms;
    outline: none; }
    .login button:hover {
      background-color: #5182de; }
  .login input {
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid #010e5d;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 300ms;
    outline: none; }
    .login input:focus {
      border-color: #5182de; }

.contact {
  background-image: url("./images/JA_Contact-Me-Section.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #402061;
  text-align: center; }
  .contact h1 {
    color: white;
    border-bottom: 8px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    font-size: 6.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 3.5rem; }
  .contact form .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e2e2e2; }
    .contact form .form-wrapper > * {
      border: 1px solid #e2e2e2;
      background-color: transparent;
      font-size: 1.7rem;
      color: #e2e2e2;
      padding: 20px;
      box-sizing: border-box;
      outline: none;
      letter-spacing: 1px;
      font-weight: 500;
      line-height: 200%; }
      .contact form .form-wrapper > *::placeholder {
        color: #e2e2e2;
        text-transform: uppercase; }
    .contact form .form-wrapper input {
      width: 50%; }
    .contact form .form-wrapper textarea {
      resize: none;
      flex-basis: 100%; }
  .contact button {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #2c273e;
    color: #e2e2e2;
    margin: 0;
    border: none;
    padding: 15px 60px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    outline: none;
    transition: 500ms; }
    .contact button:hover {
      background-color: #3c374e; }

.gallery {
  min-height: 100vh;
  background-color: #e2e2e2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .gallery h1 {
    color: #202c49;
    border-bottom: 8px solid rgba(32, 44, 73, 0.5);
    display: inline-block;
    font-size: 6.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 3.5rem; }
  .gallery .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin-top: 120px; }
    .gallery .photos .photo {
      background: navy;
      width: 200px;
      height: 200px;
      margin: 10px;
      position: static; }
    .gallery .photos .photo:before {
      content: "";
      background-size: cover;
      position: static;
      height: 200px;
      width: 200px;
      top: -30px;
      left: -30px; }
  @media (min-width: 900px) {
    .gallery .photos {
      max-width: 900px;
      width: 900px; }
      .gallery .photos .photo {
        width: 140px;
        height: 140px;
        margin: -30px 40px 0;
        transform: rotate(45deg);
        position: relative;
        overflow: hidden; }
      .gallery .photos .photo:before {
        content: "";
        background-size: cover;
        position: absolute;
        transform: rotate(-45deg);
        height: 200px;
        width: 200px;
        top: -30px;
        left: -30px; } }

.main {
  background-color: #010e5d;
  background-image: url("./images/JA_Header-Section.png");
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .main * {
    color: #e2e2e2; }
  .main nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    z-index: 100; }
    .main nav h2 {
      border-top: 3px solid #e2e2e2;
      border-bottom: 3px solid #e2e2e2;
      padding: 3px 0;
      font-family: "Cinzel Decorative", cursive;
      font-size: 2rem;
      font-weight: 700; }
  .main ul {
    display: flex; }
    .main ul li {
      margin-left: 20px;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer; }
      .main ul li a {
        text-decoration: none; }
  .main .hamburger {
    display: none;
    cursor: pointer;
    position: relative;
    height: 35px; }
    .main .hamburger .line {
      transition: 300ms;
      left: 0;
      position: relative;
      background-color: #e2e2e2;
      height: 5px;
      width: 30px;
      margin: 5px;
      border-radius: 5px; }
      .main .hamburger .line:first-of-type {
        top: 0; }
      .main .hamburger .line:last-of-type {
        bottom: 0; }
  @media (max-width: 800px) {
    .main .web-nav {
      display: none; }
    .main .hamburger {
      display: block; } }
  .main .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px; }
    .main .content .box {
      border: 8px solid #e2e2e2;
      border-radius: 2px;
      padding: 40px;
      text-align: center;
      font-family: "Lobster", cursive; }
    .main .content .header {
      margin-bottom: 20px;
      font-size: 7rem;
      padding: 10px;
      font-weight: 500; }
    .main .content span {
      font-weight: 100;
      font-size: 3rem; }
    .main .content .carousel span {
      font-family: sans-serif; }
    .main .content .slider-indicator {
      display: flex;
      justify-content: center;
      margin-top: 120px; }
      .main .content .slider-indicator ul li {
        color: #e2e2e2;
        opacity: 0.6;
        font-size: 1.5rem;
        margin: 5px; }
        .main .content .slider-indicator ul li.active {
          opacity: 1; }
    @media (max-width: 800px) {
      .main .content .box {
        border-width: 4px;
        padding-top: 100px; }
      .main .content .header {
        margin-top: -2em;
        font-size: 4rem; }
      .main .content span {
        font-size: 2rem; } }
  .main .media-player {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #111111;
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box; }
    .main .media-player .controls {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #e2e2e2;
      font-size: 2rem;
      margin: 0 20px; }
      .main .media-player .controls i {
        margin: 0 5px;
        cursor: pointer; }
      .main .media-player .controls .play-pause {
        font-size: 4rem; }
    .main .media-player .progress-bar {
      flex-grow: 1;
      display: flex; }
      .main .media-player .progress-bar .time-start,
      .main .media-player .progress-bar .time-end {
        color: rgba(255, 255, 255, 0.5); }
      .main .media-player .progress-bar .empty-bar {
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.5);
        height: 8px;
        border-radius: 4px;
        margin: 0 20px; }
      .main .media-player .progress-bar .bar {
        background-color: limegreen;
        height: 8px;
        width: 0%;
        border-radius: 4px;
        display: flex;
        transition: 50ms;
        align-items: center;
        justify-content: flex-end; }
    .main .media-player .details {
      margin: 0 20px; }
      .main .media-player .details h5 {
        font-size: 1.8rem;
        opacity: 0.8; }
      .main .media-player .details h6 {
        font-size: 1.4rem;
        opacity: 0.5; }
    @media (max-width: 800px) {
      .main .media-player .progress-bar {
        display: none; } }

.media {
  background-color: #322278;
  background-image: url("./images/JA_Media-Section.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .media h1 {
    color: #2fe48f;
    border-bottom: 8px solid rgba(47, 228, 143, 0.5);
    display: inline-block;
    font-size: 6.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 3.5rem; }
  .media h2 {
    color: #e2e2e2;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em; }
  .media .toggle-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer; }
    .media .toggle-buttons span {
      font-size: 2rem;
      text-transform: uppercase;
      background-color: #e2e2e2;
      color: #111111;
      margin: 0;
      padding: 15px 60px;
      font-weight: 600; }
      .media .toggle-buttons span.active {
        background-color: #3ce391;
        color: #e2e2e2; }
      .media .toggle-buttons span.left {
        border-radius: 30px 0 0 30px; }
      .media .toggle-buttons span.right {
        border-radius: 0 30px 30px 0; }
  .media .audio-list, .media .video-list {
    margin-top: 20px;
    height: 300px;
    overflow: scroll; }
    .media .audio-list hr, .media .video-list hr {
      margin: 0;
      border-color: rgba(255, 255, 255, 0.6); }
    .media .audio-list li .wrapper, .media .video-list li .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 10px;
      color: rgba(255, 255, 255, 0.6); }
    .media .audio-list .info, .media .video-list .info {
      flex-grow: 1;
      text-align: left;
      font-family: serif;
      margin: 0 20px; }
      .media .audio-list .info h2, .media .video-list .info h2 {
        font-size: 2.6rem;
        opacity: 1; }
      .media .audio-list .info h3, .media .video-list .info h3 {
        font-size: 2rem; }
    .media .audio-list svg, .media .video-list svg {
      font-size: 4rem; }
    .media .audio-list button, .media .video-list button {
      background-color: #e2e2e2;
      border-radius: 20px;
      padding: 10px 25px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3rem;
      border: none; }
    .media .audio-list .share-button, .media .video-list .share-button {
      background-color: #3ce391;
      border-radius: 20px;
      color: #e2e2e2;
      padding: 10px 25px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.3rem;
      border: none;
      margin: 0 10px; }
      .media .audio-list .share-button.white, .media .video-list .share-button.white {
        background-color: #e2e2e2;
        color: #111111; }
    .media .audio-list li.active, .media .video-list li.active {
      background-color: rgba(255, 255, 255, 0.05); }
      .media .audio-list li.active .info h2, .media .video-list li.active .info h2 {
        color: #3ce391; }
      .media .audio-list li.active svg, .media .video-list li.active svg {
        color: #3ce391; }
      .media .audio-list li.active button, .media .video-list li.active button {
        background-color: #3ce391;
        color: #e2e2e2; }
  .media .hide {
    display: none; }

.notification-screen {
  background-color: #010e5d;
  color: #e2e2e2;
  font-size: 5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30vh;
  text-align: center; }

.sr-only {
  display: none; }

.hide, .hidden-input {
  display: none; }
