.about {
  background-color: $color-white;
  display: flex;
  .description {
    flex-grow: 1;
    padding-left: 15%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      @include sectionTitle(249, 29, 87);
    }
    h2 {
      @include sectionSubtitle($color-black);
    }
    p {
      font-size: 2.2rem;
      line-height: 2em;
      letter-spacing: 1px;
      margin: 4rem 0 0;
    }
  }
  .photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
