$admin-nav-width: 200px;

.main-admin-container {
  section.side-nav {
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    width: $admin-nav-width;
    min-height: 100vh;
    padding-top: 30px;
    li {
      padding: 10px;
      &.active {
        a {
          color: $color-tertiary;
        }
      }
    }
    a {
      color: $color-white;
      text-decoration: none;
      font-size: 1.2rem;
      transition: 500ms;
      &:visited {
        color: $color-white;
      }
    }
    a:hover {
      color: $color-tertiary;
    }
  }
  main {
    margin-left: $admin-nav-width;
    padding: 30px;
  }
}
