.main-admin-container {
  section.side-nav {
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    width: 200px;
    min-height: 100vh;
    padding-top: 30px;
    li {
      padding: 10px;
    }
    a {
      color: $color-white;
      text-decoration: none;
      font-size: 1.3rem;
      transition: 500ms;
      &:visited {
        color: $color-white;
      }
    }
    a:hover {
      color: $color-primary-light;
    }
  }
}
