$admin-nav-width: 200px;

.main-admin-container {
  section.side-nav {
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    width: $admin-nav-width;
    min-height: 100vh;
    padding-top: 30px;
    li {
      padding: 10px;
      &.active {
        a {
          color: $color-tertiary;
        }
      }
    }
    a {
      color: $color-white;
      text-decoration: none;
      font-size: 1.2rem;
      transition: 500ms;
      &:visited {
        color: $color-white;
      }
    }
    a:hover {
      color: $color-tertiary;
    }
  }
  main {
    margin-left: $admin-nav-width;
    padding: 30px;
  }

}

.login {
  padding: 50px;
  font-size: 16px;
  form {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }
  label, input {
    width: 100%;
    text-align: left;
    font-size: 20px;
  }
  label {
    display: block;
  }
  input {
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid $color-primary;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 300ms;
    &:focus {
      outline: none;
      border-color: $color-primary-light;
    }
  }
  button {
    background-color: $color-primary;
    color: $color-white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background-color: $color-primary-light;
    }
  }
}
