.gallery {
  min-height: 100vh;
  background-color: $color-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    @include sectionTitle(32, 44, 73);
  }
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin-top: 120px;
    .photo {
      background: navy;
      width: 200px;
      height: 200px;
      margin: 10px;
      position: static;
    }
    .photo:before {
      content: "";
      background-size: cover;
      position: static;
      height: 200px;
      width: 200px;
      top: -30px;
      left: -30px;
    }
  }
  @media (min-width: 900px) {
    .photos {
      max-width: 900px;
      width: 900px;
      .photo {
        width: 140px;
        height: 140px;
        margin: -30px 40px 0;
        transform: rotate(45deg);
        position: relative;
        overflow: hidden;
      }
        .photo:before {
        content: "";
        background-size: cover;
        position: absolute;
        transform: rotate(-45deg);
        height: 200px;
        width: 200px;
        top: -30px;
        left: -30px;
      }
    }
  }
}
