$font-primary: 'Lobster', cursive;
$font-secondary: 'Cinzel Decorative', cursive;
$font-body: sans-serif;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 8px;
}
body {
  line-height: 1;
  font-family: $font-body;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$color-primary: #010e5d;
$color-primary-light: #5182de;
$color-secondary: #fc544e;
$color-secondary-dark: #fc1454;
$color-secondary-light: #fecdce;
$color-tertiary: #3ce391;
$color-contact: #402061;
$media-bg: #322278;
$color-black: #111111;
$color-white: #e2e2e2;
$color-gray: #2c273e;
$color-gray-hover: #3c374e;
$desktop-min: 1100px;
$tablet-min: 800px;

@mixin sectionTitle($r, $g, $b) {
  color: rgba($r, $g, $b, 1);
  border-bottom: 8px solid rgba($r, $g, $b, 0.5);
  display: inline-block;
  font-size: 6.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 3.5rem;
}

@mixin sectionSubtitle($color) {
  color: $color;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.5em;
}

@mixin button($bgcolor, $textcolor, $hoverbgcolor) {
  background-color: $bgcolor;
  color: $textcolor;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: 300ms;
  outline: none;
  &:hover {
    background-color: $hoverbgcolor;
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

h1 {
  font-family: $font-secondary;
}

.page {
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.mobile-nav {
  position: relative;
  z-index: 100;
  ul {
    position: fixed;
    // top: 0;
    transition: 300ms;
    transition-timing-function: ease-in;
    left: 0;
    box-sizing: border-box;
    right: 0;
    bottom: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0.9);
    flex-direction: column;
    padding: 120px 10% 10%;
    align-items: stretch;
    li {
      cursor: pointer;
      flex-grow: 1;
      display: flex;
      color: $color-white;
      align-items: center;
      max-height: 250px;
      border-top: 1px solid $color-white;
      padding: 10px;
      font-size: 3rem;
      font-weight: 200;
    }
  }
}

iframe {
  width: 300px;
  height: 200px;
  @media (min-width: $tablet-min) {
    width: 600px;
    height: 400px;
  }
  @media (min-width: $desktop-min) {
    width: 800px;
    height: 600px;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-times {
    color: $color-white;
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 4.0rem;
  }
  .modal-body {
    padding: 10px;
    background-color: $color-white;
  }
}

*[role="button"] {
  cursor: pointer;
}

@import "./about";
@import "./admin";
@import "./contact";
@import "./gallery";
@import "./main";
@import "./media";
@import "./notification";

.sr-only {
  display: none;
}

.hide, .hidden-input {
  display: none;
}
