.main {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  & * {
    color: $color-white;
  }
  nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    z-index: 100;
    h2 {
      border-top: 3px solid $color-white;
      border-bottom: 3px solid $color-white;
      padding: 3px 0;
      font-size: 2rem;
      font-weight: 700;
    }
  }
  ul {
    display: flex;
    li {
      margin-left: 20px;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;
      a {
        text-decoration: none;
      }
    }
  }
  .hamburger {
    .line {
      background-color: $color-white;
      height: 5px;
      width: 30px;
      margin: 5px;
      border-radius: 5px;
    }      
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    ul {
      flex-direction: column;
      padding: 10%;
      align-items: stretch;
      height: 100%;
      li {
        flex-grow: 1;
        display: flex;
        align-items: center;
        max-height: 100px;
        border-top: 1px solid $color-white;
        padding: 10px;
        font-size: 3rem;
        font-weight: 200;
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
    .box {
      border: 8px solid $color-white;
      border-radius: 2px;
      padding: 40px;
      text-align: center;
      font-family: serif;
    }
    .header {
      margin-top: -1.3em;
      margin-bottom: 20px;
      background-color: $color-primary;
      font-size: 7rem;
      padding: 10px;
      font-weight: 500;
    }
    span {
      font-weight: 100;
      font-size: 3rem;
    }
    .slider-indicator {
      display: flex;
      justify-content: center;
      margin-top: 120px;
      ul li {
        color: $color-white;
        opacity: 0.6;
        font-size: 1.5rem;
        margin: 5px;
        &.active {
          opacity: 1;
        }
      }
    }
    @media (max-width: 800px) {
      .box {
        border-width: 4px;
      }
      .header {
        margin-top: -2em;
        font-size: 4rem;
      }
      span {
        font-size: 2rem;
      }
    }
  }
  .media-player {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $color-black;
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
    .controls {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $color-white;
      font-size: 2rem;
      margin: 0 20px;
      i {
        margin: 0 5px;
        cursor: pointer;
      }
      .play-pause {
        font-size: 4rem;
      }
    }
    .progress-bar {
      flex-grow: 1;
      display: flex;
      .time-start,
      .time-end {
        color: rgba(255, 255, 255, 0.5);
      }
      .empty-bar {
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.5);
        height: 8px;
        border-radius: 4px;
        margin: 0 20px;
      }
      .bar {
        background-color: limegreen;
        height: 8px;
        width: 0%;
        border-radius: 4px;
        display: flex;
        transition: 50ms;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .details {
      margin: 0 20px;
      h5 {
        font-size: 1.8rem;
        opacity: 0.8;
      }
      h6 {
        font-size: 1.4rem;
        opacity: 0.5;
      }
    }
  }
}
