.main {
  background-color: $color-primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & * {
    color: $color-white;
  }
  nav {
    display: flex;
    padding: 20px 160px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    h2 {
      border-top: 3px solid $color-white;
      border-bottom: 3px solid $color-white;
      padding: 3px 0;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
  ul {
    display: flex;
    li {
      margin-left: 20px;
      font-size: 0.7rem;
      font-weight: 600;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .container {
      max-width: 700px;
      border: 6px solid $color-white;
      border-radius: 2px;
      padding: 40px;
      text-align: center;
      font-family: serif;
    }
    .header {
      margin-top: -70px;
      margin-bottom: 20px;
      background-color: $color-primary;
      font-size: 36px;
      padding: 10px;
      font-weight: 500;
    }
    span {
      font-weight: 100;
    }
    .slider-indicator {
      display: flex;
      justify-content: center;
      margin-top: 120px;
      ul li {
        color: $color-white;
        opacity: 0.6;
        font-size: 0.8rem;
        margin: 5px;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
