.media {
  background-color: $media-bg;
  background-image: url('./images/JA_Media-Section.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h1 {
    @include sectionTitle(47, 228, 143);
  }
  h2 {
    @include sectionSubtitle($color-white);
  }
  .toggle-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    span {
      font-size: 2rem;
      text-transform: uppercase;
      background-color: $color-white;
      color: $color-black;
      margin: 0;
      padding: 15px 60px;
      font-weight: 600;
      &.active {
        background-color: $color-tertiary;
        color: $color-white;
      }
      &.left {
        border-radius: 30px 0 0 30px;
      }
      &.right {
        border-radius: 0 30px 30px 0;
      }
    }
  }
  .audio-list {
    margin-top: 20px;
    height: 300px;
    overflow: scroll;
    hr {
      margin: 0;
      border-color: rgba(255, 255, 255, 0.6);
    }
    li .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 10px;
      color: rgba(255, 255, 255, 0.6);
    }
    .info {
      flex-grow: 1;
      text-align: left;
      font-family: serif;
      margin: 0 20px;
      h2 {
        font-size: 2.6rem;
        opacity: 1;
      }
      h3 {
        font-size: 2rem;
      }
    }
    svg {
      font-size: 4rem;
    }
    button {
      background-color: $color-white;
      border-radius: 20px;
      padding: 10px 25px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3rem;
      border: none;
    }
    .share-button {
      background-color: $color-tertiary;
      border-radius: 20px;
      color: $color-white;
      padding: 10px 25px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.3rem;
      border: none;
    }
    li.active {
      background-color: rgba(255, 255, 255, 0.05);
      .info {
        h2 {
          color: $color-tertiary;
        }
      }
      svg {
        color: $color-tertiary;
      }
      button {
        background-color: $color-tertiary;
        color: $color-white;
      }
    }
  }
  .video-list {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 20px;
    justify-content: center;
    overflow: auto;
    height: 300px;
  }

  .hide {
    display: none;
  }
}
