<div class="about" id="about">
  <div class="description">
    <div class="about-content">
      <h1>About Me</h1>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, autem repudiandae!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, tenetur. Reiciendis magnam blanditiis rerum eligendi
        omnis, harum vel nesciunt aspernatur mollitia ratione architecto quasi possimus recusandae vero voluptas suscipit
        animi.
      </p>
    </div>
  </div>
  <div class="photo">
    <img src="./images/head-shot-no-bg.png" alt="about me">
  </div>
</div>