<div class="about page" id="about">
  <div class="description">
    <div class="about-content">
      <h1>About Me</h1>

      <% paragraphs.forEach((para, index) => { %>
        <% if (index === 0) { %>
          <h2>
            <%= para.paragraph.trim() %>
          </h2>
          <% } else { %>
            <p>
              <%= para.paragraph.trim() %>
            </p>
            <% } %>
              <% }) %>
    </div>
  </div>
  <div class="photo">
    <img src="./images/JA_About-Me-Section.png" alt="about me">
  </div>
</div>