<div class="contact page" id="contact">
  <div class="container">
    <h1>Contact Me</h1>
    <form action="/contact" method="post">
      <div class="form-wrapper">
        <input placeholder="Full Name" name="name" />
        <input placeholder="Your Email" name="email" />
        <textarea placeholder="What's on your mind..." rows=3 name="message"></textarea>
      </div>
      <button type="submit">Let's Get Started</button>
    </form>
  </div>
</div>