<div class="gallery page" id="gallery">
  <div class="container">
    <h1>Photos</h1>
    <div class="photos">
      <% photos.forEach((photo, index) => { %>
        <% if (index < 7) { %>
          <% console.log('THE PHOTO', photo) %>
            <% const className = `gallery-photo photo photo${index + 1}` %>
              <% const url = photo.url.split('/upload').join('/upload/w_200,h_200,c_fill') %>
                <% console.log('THE NEW URL', url) %>
                  <div class="<%= className %>" id="<%= url %>"></div>
                  <% } %>
                    <% }) %>
                      <!-- <div class="photo photo1"></div>
      <div class="photo photo2"></div>
      <div class="photo photo3"></div>
      <div class="photo photo4"></div>
      <div class="photo photo5"></div>
      <div class="photo photo6"></div>
      <div class="photo photo7"></div> -->
    </div>
  </div>
</div>