<div class="main page" id="main">
  <nav class="navbar">
    <div>
      <h2>Jonathan Anderson Music</h2>
    </div>

    <div>
      <ul>
        <li data-link="main">
          Home
        </li>
        <li data-link="about">
          About Me
        </li>
        <li data-link="media">
          Media
        </li>
        <li data-link="gallery">
          Photos
        </li>
        <li data-link="contact">
          Contact Me
        </li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <div class="carousel">
      <div class="slide-01">
        <div class="container box">
          <div class="header">
            <h1>We make music beautiful</h1>
            <h1>and enjoyable.</h1>
          </div>
          <span>- kayne West, Singer &amp; Founder</span>
        </div>
      </div>

      <div class="slider-indicator">
        <ul>
          <li class="active">
            <i class="fa fa-circle"></i>
          </li>
          <li>
            <i class="fa fa-circle"></i>
          </li>
          <li>
            <i class="fa fa-circle"></i>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <audio controls>
    <% if (audios.length > 0) { %>
      <source src="<%= audios[0].url %>" type="audio/mpeg" />
      <% } %>
  </audio>
  <div class="media-player">
    <div class="controls">
      <i class="material-icons">fast_rewind</i>
      <i class="material-icons play-pause">play_circle_outline</i>
      <i class="material-icons">fast_forward</i>
    </div>
    <div class="progress-bar">
      <div class="time-start">--:--</div>
      <div class="empty-bar">
        <div class="bar">
          <i class="fas fa-circle"></i>
        </div>
      </div>
      <div class="time-end">--:--</div>
    </div>
    <div class="details">
      <h5 class="title">
        <% if (audios.length > 0) { %>
          <%= audios[0].title %>
            <% } else { %>
              --
              <% } %>
      </h5>
      <h6 class="sub-title">Jon Anderson</h6>
    </div>
  </div>
</div>