<% include partials/_header %>

  <div class="notification-screen">
    <h1>Your message has been sent!</h1>
  </div>

  <script type="text/javascript">
    setTimeout(function() {
      window.location = '/';
    }, 2000);
  </script>

<% include partials/_footer %>