<% include partials/_header %>

  <div class="notification-screen">
    <h1>Oops! Something went wrong. Please try again later.</h1>
  </div>

  <script type="text/javascript">
    setTimeout(function() {
      window.location = '/';
    }, 3000);
  </script>

<% include partials/_footer %>