<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JA - Admin</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <main class="main-admin-container">
      <section class="side-nav">
        <ul>
          <li><a href="/logout">Audio Uploads</a></li>
          <li><a href="/logout">Video Uploads</a></li>
          <li><a href="/logout">Photo Gallery</a></li>
          <li><a href="/logout">Settings</a></li>
          <li><a href="/admin/logout">Logout</a></li>
        </ul>
      </section>
