<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JA - Admin</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div class="main-admin-container">
      <section class="side-nav">
        <ul>
          <li class="active"><a href="/admin/">Overview</a></li>
          <li><a href="/admin/audio">Audio Uploads</a></li>
          <li><a href="/admin/video">Video Uploads</a></li>
          <li><a href="/admin/photo">Photo Gallery</a></li>
          <li><a href="/admin/logout">Logout</a></li>
        </ul>
      </section>
