<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JA - Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <% const navItems = [
      { path: '', label: 'Overview' },
      { path: 'audio', label: 'Audio' },
      { path: 'video', label: 'Video' },
      { path: 'photo', label: 'Photos' },
      { path: 'bio', label: 'Bio' },
      { path: 'logout', label: 'Logout' },
    ] %>
    <div class="main-admin-container">
      <section class="side-nav">
        <ul>
          <% navItems.forEach((item, index) => { %>
            <li class="<%= active === item.label ? 'active' : '' %>">
              <a href="/admin/<%= item.path %>">
                <%= item.label %>
              </a>
            </li>
            <% }) %>
        </ul>
      </section>